# Code to join data from Boxoffice mojo and The numbers

In [1]:
import pandas as pd

In [2]:
movies_boxoffice = pd.read_csv('boxofficemojo_animation.csv')
movies_boxoffice = movies_boxoffice.drop('Unnamed: 0', axis = 1)

In [3]:
movies_boxoffice.head()

,movie_name,domestic_gross,foreign_gross,world_gross,production_budget,release_date,distributor,runtime,rating,directors,writers,actors
0,Everyone's Hero,14523101.0,2104087.0,16627188,NaN,2006-09-15,Fox,88.0,G,[],[],"[u'Raven-Symone', u'Forest Whitaker']"
1,Fire and Ice,760883.0,NaN,857522,NaN,1983-08-26,GKIDS,93.0,PG,[],[],[]
2,Light Years,370698.0,12572253.0,12947880,NaN,1988-01-29,Eleven Arts,116.0,Unrated,[],[],[]
3,Ratchet & Clank,8821329.0,NaN,8821329,NaN,2016-04-29,Focus Features,94.0,PG,[],[],"[u'Rosario Dawson', u'Paul Giamatti', u'John G..."
4,Home (2015),177397510.0,208644097.0,386041607,135000000.0,2015-03-27,Fox,94.0,PG,[u'Tim Johnson'],"[u'Tom J. Astle', u'Matt Ember']","[u'Rihanna', u'Steve Martin', u'Jennifer Lopez']"

In [4]:
movies_numbers = pd.read_csv('numbersbudgets.csv')
movies_numbers.head()

   Unnamed: 0       movie_name release_date  production_budget
0           0  Men with Brooms   2002-03-08            7500000
1           1    Dum Maaro Dum   2011-04-22            5200000
2           2    Vampires Suck   2010-08-18           20000000
3           3         The Road   2009-11-25           25000000
4           4          Yes Man   2008-12-19           50000000

In [5]:
movies_numbers = movies_numbers.drop('release_date', axis = 1)

In [6]:
movies_numbers.head()

   Unnamed: 0       movie_name  production_budget
0           0  Men with Brooms            7500000
1           1    Dum Maaro Dum            5200000
2           2    Vampires Suck           20000000
3           3         The Road           25000000
4           4          Yes Man           50000000

In [7]:
movies_result = pd.concat([movies_boxoffice, movies_numbers], axis=1, join_axes=[movies_boxoffice.index])
movies_result.head()

,movie_name,domestic_gross,foreign_gross,world_gross,production_budget,release_date,distributor,runtime,rating,directors,writers,actors,Unnamed: 0,movie_name,production_budget
0,Everyone's Hero,14523101.0,2104087.0,16627188,NaN,2006-09-15,Fox,88.0,G,[],[],"[u'Raven-Symone', u'Forest Whitaker']",0,Men with Brooms,7500000
1,Fire and Ice,760883.0,NaN,857522,NaN,1983-08-26,GKIDS,93.0,PG,[],[],[],1,Dum Maaro Dum,5200000
2,Light Years,370698.0,12572253.0,12947880,NaN,1988-01-29,Eleven Arts,116.0,Unrated,[],[],[],2,Vampires Suck,20000000
3,Ratchet & Clank,8821329.0,NaN,8821329,NaN,2016-04-29,Focus Features,94.0,PG,[],[],"[u'Rosario Dawson', u'Paul Giamatti', u'John G...",3,The Road,25000000
4,Home (2015),177397510.0,208644097.0,386041607,135000000.0,2015-03-27,Fox,94.0,PG,[u'Tim Johnson'],"[u'Tom J. Astle', u'Matt Ember']","[u'Rihanna', u'Steve Martin', u'Jennifer Lopez']",4,Yes Man,50000000

In [8]:
import difflib
movies_boxoffice['movie_name'] = movies_boxoffice['movie_name'].apply(lambda x: difflib.get_close_matches(x, movies_numbers['movie_name'],n=1,cutoff=.9)[0] if difflib.get_close_matches(x, movies_numbers['movie_name'],n=1,cutoff=.9) else x)

In [9]:
movies_result_v5 = pd.merge(movies_boxoffice, movies_numbers, how ='left', on='movie_name')
movies_result_v5.head()

,movie_name,domestic_gross,foreign_gross,world_gross,production_budget_x,release_date,distributor,runtime,rating,directors,writers,actors,Unnamed: 0,production_budget_y
0,Everyone's Hero,14523101.0,2104087.0,16627188,NaN,2006-09-15,Fox,88.0,G,[],[],"[u'Raven-Symone', u'Forest Whitaker']",NaN,NaN
1,Fire and Ice,760883.0,NaN,857522,NaN,1983-08-26,GKIDS,93.0,PG,[],[],[],NaN,NaN
2,Light Years,370698.0,12572253.0,12947880,NaN,1988-01-29,Eleven Arts,116.0,Unrated,[],[],[],NaN,NaN
3,Ratchet & Clank,8821329.0,NaN,8821329,NaN,2016-04-29,Focus Features,94.0,PG,[],[],"[u'Rosario Dawson', u'Paul Giamatti', u'John G...",NaN,NaN
4,Home (2015),177397510.0,208644097.0,386041607,135000000.0,2015-03-27,Fox,94.0,PG,[u'Tim Johnson'],"[u'Tom J. Astle', u'Matt Ember']","[u'Rihanna', u'Steve Martin', u'Jennifer Lopez']",NaN,NaN

In [11]:
movies_result_v5['production_budget_x'].fillna(movies_result_v5['production_budget_y'], inplace=True)
movies_result_v5.head()

,movie_name,domestic_gross,foreign_gross,world_gross,production_budget_x,release_date,distributor,runtime,rating,directors,writers,actors,Unnamed: 0,production_budget_y
0,Everyone's Hero,14523101.0,2104087.0,16627188,NaN,2006-09-15,Fox,88.0,G,[],[],"[u'Raven-Symone', u'Forest Whitaker']",NaN,NaN
1,Fire and Ice,760883.0,NaN,857522,NaN,1983-08-26,GKIDS,93.0,PG,[],[],[],NaN,NaN
2,Light Years,370698.0,12572253.0,12947880,NaN,1988-01-29,Eleven Arts,116.0,Unrated,[],[],[],NaN,NaN
3,Ratchet & Clank,8821329.0,NaN,8821329,NaN,2016-04-29,Focus Features,94.0,PG,[],[],"[u'Rosario Dawson', u'Paul Giamatti', u'John G...",NaN,NaN
4,Home (2015),177397510.0,208644097.0,386041607,135000000.0,2015-03-27,Fox,94.0,PG,[u'Tim Johnson'],"[u'Tom J. Astle', u'Matt Ember']","[u'Rihanna', u'Steve Martin', u'Jennifer Lopez']",NaN,NaN

In [13]:
movies_result_v5 = movies_result_v5.drop(['production_budget_y'],axis = 1)

In [14]:
movies_result_v5.head()

,movie_name,domestic_gross,foreign_gross,world_gross,production_budget_x,release_date,distributor,runtime,rating,directors,writers,actors,Unnamed: 0
0,Everyone's Hero,14523101.0,2104087.0,16627188,NaN,2006-09-15,Fox,88.0,G,[],[],"[u'Raven-Symone', u'Forest Whitaker']",NaN
1,Fire and Ice,760883.0,NaN,857522,NaN,1983-08-26,GKIDS,93.0,PG,[],[],[],NaN
2,Light Years,370698.0,12572253.0,12947880,NaN,1988-01-29,Eleven Arts,116.0,Unrated,[],[],[],NaN
3,Ratchet & Clank,8821329.0,NaN,8821329,NaN,2016-04-29,Focus Features,94.0,PG,[],[],"[u'Rosario Dawson', u'Paul Giamatti', u'John G...",NaN
4,Home (2015),177397510.0,208644097.0,386041607,135000000.0,2015-03-27,Fox,94.0,PG,[u'Tim Johnson'],"[u'Tom J. Astle', u'Matt Ember']","[u'Rihanna', u'Steve Martin', u'Jennifer Lopez']",NaN

In [15]:
movies_result_v5 = movies_result_v5.drop(['Unnamed: 0'],axis = 1)

In [16]:
all_movies = movies_result_v5

In [51]:
all_movies.to_csv('animation_movies.csv')

In [52]:
less animation_movies.csv